$text-white: #fff;
$text-black: #1f1f1f;

$bg-body: #9a85e8;
$bg-white: #fff;
$bg-progress: rgb(180, 180, 180);
$bg-bar: #63b9ff;
$bg-question: #fff;
$bg-title: #12cbc4;
$bg-reset: #ff6372;

$bg-bar-green: hsl(140, 100%, 40%);
$bg-bar-orange: hsl(37, 100%, 48%);
$bg-bar-red: hsl(354, 100%, 69%);

$border-answer: #8e959f;
$border-radius: 4px;

$progress-color: #007eff;