$text-white: #fff;

$bg-body: #e6ecf1;
$bg-white: #fff;
$bg-progress: rgb(180, 180, 180);
$bg-bar: #63b9ff;
$bg-question: #00ca8c;
$bg-title: #12cbc4;
$bg-reset: #ff6372;

$border-answer: #8e959f;

* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 20px;
  background: $bg-body;
}

.ctr {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.questions-ctr {
  position: relative;
  width: 100%;
}

.question {
  width: 100%;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background-color: $bg-question;
  color: $text-white;
  box-sizing: border-box;
}

.single-question {
  position: relative;
  width: 100%;
}

.answer {
  padding: 20px;
  font-size: 18px;
  width: 100%;
  background-color: $bg-white;
  transition: 0.2s linear all;
  // margin-top: 15px;

  span {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.75em;
    font-style: italic;
  }

  &:not(:last-child) {
    // background: red;
    border-bottom: 1px solid $border-answer;
  }

  &:last-child {
    border-radius: 0px 0px 6px 6px;
  }

  &:not(.is-answered) {
    cursor: pointer;
  }

  &:not(.is-answered):hover {
    background-color: #55b2ff;
    border-color: #2fa1ff;
    color: $text-white;
  }
}

.progress {
  height: 50px;
  margin-top: 10px;
  background-color: $bg-progress;
  position: relative;
}

.bar {
  height: 50px;
  background-color: $bg-bar;
  transition: all 0.3s linear;
}

.status {
  position: absolute;
  top: 15px;
  left: 0;
  text-align: center;
  color: $text-white;
  width: 100%;
}

.progress,
.bar,
.status {
  border-radius: 6px 6px 0px 0px !important;
}

.title {
  width: 100%;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background-color: $bg-title;
  color: $text-white;
  box-sizing: border-box;
  border-radius: 6px 6px 0px 0px;
}

.desc {
  border: 1px solid $border-answer;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  background-color: $text-white;
  transition: 0.4s linear all;
  text-align: center;
  border-radius: 0px 0px 6px 6px;
}

.fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    transition: all 0.3s linear;
  }

  &-leave-active {
    transition: all 0.3s linear;
    opacity: 0;
    position: absolute;
  }
}

.result {
  width: 100%;
}

.reset-btn {
  background-color: $bg-reset;
  border: 0;
  border-radius: 6px;
  font-size: 22px;
  color: $text-white;
  padding: 10px 25px;
  margin: 10px auto;
  display: block;

  &:active,
  &:focus,
  &:hover {
    border: 0;
    outline: 0;
  }
}