@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 20px;
  background: $bg-body;
}

.ctr {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  place-items: center;
}

.result {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
}

.welcome {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 400px;
  width: 100%;
  padding: 25px 20px 15px 20px;
  background-color: $bg-question;
  text-align: center;
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  p {
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
  }

  &.in {
    animation: fadein .5s forwards;
  }

  &.out {
    animation: fadeout .5s forwards;
  }
}


.questions-ctr {
  position: relative;
  width: 100%;
}

.question {
  width: 100%;
  padding: 20px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  background-color: $bg-question;
  color: $text-black;
  box-sizing: border-box;
  border-radius: 0px 0px $border-radius $border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &-number {
    display: flex;
    align-items: flex-start;

    & span:first-child {
      font-weight: 600;
    }

    & span:last-child {
      text-align: left;
      margin-left: 10px;
    }
  }
}

.single-question {
  position: relative;
  width: 100%;
  display: grid;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}

.answer {
  border-radius: 4px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  background-color: $bg-white;
  transition: 0.2s linear all;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  // margin-top: 15px;

  span {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.75em;
    font-style: italic;
  }

  &:not(.is-answered) {
    cursor: pointer;
  }

  &:not(.is-answered):hover {
    // border: 1px solid #55b2ff;
    // border-color: #2fa1ff;
    box-shadow: 0 0 0 .3rem hsl(253, 60%, 56%);
  }

  &.is-answered {
    // border: 1px solid #55b2ff;
    // border-color: #2fa1ff;
    box-shadow: 0 0 0 .3rem hsl(253, 68%, 54%);
  }
}

.progress {
  height: 50px;
  margin-top: 10px;
  background-color: $bg-progress;
  position: relative;

  & .bar {
    height: 50px;
    transition: all 0.3s linear;
    background: $bg-bar;
  }

  & .status {
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
    color: $text-white;
    width: 100%;
  }
}

.progress,
.bar,
.status {
  border-radius: $border-radius $border-radius 0px 0px !important;
}

.title {
  width: 100%;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background-color: $bg-title;
  color: $text-white;
  box-sizing: border-box;
  border-radius: $border-radius $border-radius 0px 0px;
}

.desc {
  border: 1px solid $border-answer;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  background-color: $text-white;
  transition: 0.4s linear all;
  text-align: center;
  border-radius: 0px 0px $border-radius $border-radius;
}

.fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    transition: all 0.3s linear;
  }

  &-leave-active {
    transition: all 0.3s linear;
    opacity: 0;
    position: absolute;
  }
}

.result {
  width: 100%;
}

.btn {
  background: transparent;
  border: 0;
  border-radius: $border-radius;
  font-size: 22px;
  color: $text-white;
  padding: 10px 25px;
  margin: 10px auto;
  display: block;

  &:active,
  &:focus,
  &:hover {
    border: 0;
    outline: 0;
  }
}

.start-btn {
  margin-top: 25px;
  width: 50%;
  font-weight: 600;
  background-color: hsl(280, 100%, 65%);

  &:hover {
    background-color: hsl(280, 100%, 67%);
  }

  &:active {
    background-color: hsl(280, 100%, 71%);
  }
}

.submit-btn {
  margin: 25px 0px 0px auto;
  font-size: 18px;
  font-weight: 600;
  background-color: hsl(239, 100%, 65%);

  &:hover {
    background-color: hsl(239, 90%, 65%);
  }

  &:active {
    background-color: hsl(239, 85%, 66%);
  }
}

.reset-btn {
  background-color: $bg-reset;
}

.prev-btn {
  margin-right: 20px;
  padding: 16px 10px 16px 8px;
}

.next-btn {
  margin-left: 20px;
  padding: 16px 8px 16px 10px;
}

.prev-btn,
.next-btn {
  display: flex;
  background-color: hsl(253, 68%, 55%);

  &:hover {
    background-color: hsl(253, 68%, 57.5%);
  }

  &:active {
    background-color: hsl(253, 68%, 60%);
  }
}

.timer {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $bg-progress;
  position: relative;

  & .bar {
    height: 50px;
    // background-color: $bg-reset;
    transition: all 0.3s linear;

    &.red {
      background-color: $bg-bar-red;
    }

    &.orange {
      background-color: $bg-bar-orange;
    }

    &.green {
      background-color: $bg-bar-green;
    }
  }

  & .status {
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
    color: $text-white;
    width: 100%;
    font-weight: bold;
  }
}

.loading {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: $text-white;
}

.warning-icon {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 18px;
}

.hide {
  visibility: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}